<<<<<<< HEAD
<h1>Fichier twig vote</h1>

<h2>test</h2>
	
	<p>Mon nom est:
		{{ name }}
	</p>
	<p>Mon age est :
		{{ age }}
	</p>
	<ul>
		{% for techno in technos %}
			<li>
				techno
				{{ loop.index }}:{{ techno }}
			</li>
		{% endfor %}
	</ul>

=======
<h1>Fichier twig votùe</h1>
<h2>uiyiuyiyuiyu</h2>
<p>kkk</p>
<p>Mon nom est : {{ name }} , mon age est {{ age }}</p>
<<<<<<< HEAD
>>>>>>> c41741ce3ede0775937c330027a670d2d85d4527
=======
<a href='logout'>deconnection</a>
>>>>>>> 9387863e67112f39f2c82a5c48b5abd511a20460
