{% extends "base.twig" %}
{% block content %}


		<div class="chart-container container-fluid d-flex flex-wrap  " style="position: relative;width=50px">
			 {% for i in 1..4  %}
                <canvas class="col-6 col-lg-6 mt-5  " id="{{i}}"></canvas>
                
         
            {% endfor %}
    
		</div>



		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
         
         
        {% for i in 1..4 %}
        // console.log({{i-1}});
    console.log({{ results.humeur1 | json_encode()}});
        
                // for(i=1;i<=2;i++){

                    
        var ctx = document.getElementById({{i}}).getContext('2d');

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [`departement{{i}}`],
        datasets: [
            {
            label: 'heureux',
            data: [{{ results.humeur1 | json_encode()}}],

            borderColor: [
                
                'green',
              
            ],
            pointBackgroundColor:[
                'green',
                
              
                //repère de valeur
            ],
            borderWidth:[
                5,
            ],
            

      
          },{
            label: 'Fatigué',
            data:  [{{ results.humeur2 | json_encode()}}
            ],
           
            borderColor: [
                
                'yellow',
                "yellow",
                "yellow",
              
            ],
          
          
          
            borderWidth:[
                4,
            ],
        },{
                label: 'Stressé',
                data: [{{ results.humeur3 | json_encode()}}],
               
                borderColor: [
                    
                    'red',
                  
                ],
                pointBackgroundColor:[
                    'red',
                    
                    //repère de valeur
                ],
                borderWidth:[
                    3,
                ],

        
          }
        ],
     
          
          
          
    },
    
    options: {
        
        
        scales: {
            yAxes: [{
                stacked: false,
                
                ticks: {
                    fontSize: 25, 
                    beginAtZero: true,
                    type: 'myScale' ,
                     precision:0,
                     stepSize:1,
                     beginAtZero:true,
                }
            }],
            xAxes: [{
                ticks: {
                   
                    fontSize: 25
                }
            }]
        }
    }
});
{% endfor %}
        // }  

        </script>
{% endblock %}